* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #313131;
  color: aliceblue;
  height: 100vh;
}
table,
td,
th {
  border: 1px solid #595959;
  border-collapse: collapse;
}
td,
th {
  padding: 3px;
  width: min-content;
  height: 25px;
}
td {
  padding: 0 30px;
}
th {
  background: #f0e6cc;
}
.even {
  background: #fbf8f0;
}
.odd {
  background: #fefcf9;
}

.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
}
.link {
  color: white;
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.horizontal-rule {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: rgb(105, 105, 105);
  outline: none;
  border: none;
  margin-bottom: 40px;
}
